.flash-btn{
    border: none;
    border-radius: 10px;
}
input[type=text]{
    border-radius: 30px;
    border: none;
    outline: none;
    padding: 5px 30px;
}
form{
    background-color: #FFD7BD;
    padding: 20px 20px;
    border-radius: 20px;
}
#flashcard{
    border-radius: 30px;
    padding: 50px ;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #FFD7BD;
    margin-top: 50px;
    gap: 10px;
    margin-bottom: 222px;
}
.flashcard{
    width: 200px;
    height: 120px;
    perspective: 1000px;
    cursor: pointer;
}
.card-inner{
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}
.flashcard.flipped .card-inner{
    transform: rotateY(180deg);
}
.front,.back{
    border: 1px solid #72533F;
    position: absolute;
    width: 100%;
    height: 100%;
    background:white ;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
}
.front{
    background-color: rgb(255, 233, 206);
}
.back{
    transform: rotateY(180deg);
    background-color: rgb(255, 180, 83);
}