*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: #EFB48E;
}
.Logo img{
    width: 200px;
    height: 200px;
}
.title{
    text-align: center;
}
.Title{
    gap: 120px;
    padding-bottom: 50px;
}
.main-hub{
    background-color: #FFD9AE;
}
.fi{
    color: white;
}
.description{
    background-color: #FFD099;
}
.flashcards{
    background-color: #FFD7BD;
    height: auto;
    width: 55%;
    padding: 30px 30px;
    margin-left: 30px;
}
.quizzes{
    background-color: #FFD7BD;
    height: auto;
    width: 55%;
    padding: 30px 30px;
    margin-right: 30px;
}
.quiz-container{
    display: flex;
    justify-content: end;
}
.F-Q{
    gap: 60px;
}
a{
    border: 1px solid brown;
    width: 100px;
    text-align: center;
    border-radius: 5px;
    background-color: #BE8E70;
    text-decoration: none;
    color: black;
}